@import "tailwindcss";

/* =========================
   Light Theme
========================= */

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --card: #ffffff;
  --border: #e2e8f0;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;
}

/* =========================
   Dark Theme
========================= */

.dark {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */

  --card: #0f172a; /* slate-900 */
  --border: #334155; /* slate-700 */

  --primary: #2563eb;
  --primary-hover: #3b82f6;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

* {
  border-color: var(--border);
}

.text-balance {
  text-wrap: balance;
}