@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --border: #e2e8f0;

  --card: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

* {
  border-color: var(--border);
}

.text-balance {
  text-wrap: balance;
}